@using TestJobOrders.Models.ViewModel
@model ListOrderViewModel
@{
    ViewData["Title"] = "Просмотр заказов";
    int pageNumb = 1; 
}

<form asp-action="Index" method="post">
    <div class="form-group">
        <label class="form-label"></label>Номер страницы<input name="page"  class="form-control" />
        <button class="btn btn-secondary " type="submit">Показать</button>
    </div>
 
    </form>

@if(Model.Orders.Count()>0){
     <table class="table table-bordered table-striped">
        <tr>
            <th>Номер заказа</th>
            <th>Город отправителя</th>
            <th>Адрес отправителя</th>
            <th>Город получателя</th>
            <th>Адрес получателя</th>
            <th>Вес груза</th>
            <th>Дата забора груза</th>
            <th></th>
        </tr>
        @foreach(Order o in Model.Orders)
        {
            <tr>
                <td>@o.Number</td>
                <td>@o.SenderCity</td>
                <td>@o.SenderAddress</td>
                <td>@o.RecipientCity</td>
                <td>@o.RecipientAddress</td>
                <td>@o.Weight</td>
                <td>@o.CollectionDate</td>
             
            </tr>
           
        }
    </table>
}